<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>¿Quienes Somos?</h1>
    <br>
    <p>Importadora Larraín es una empresa chilena con 15 años de experiencia en la importación de productos desde China. Ubicada en calle San Alfonso, 
        la compañía se ha consolidado como un actor conocido en el sector. Su especialidad radica en accesorios electrónicos, incluyendo parlantes, pendrives, 
        llaveros, punteros láser, carcasas de celulares y otros artículos similares. A lo largo de su trayectoria, Importadora Larraín ha logrado mantenerse con 
        ganancias, aunque en los dos últimos años ha experimentado una disminución en los ingresos, 
        logrando apenas cubrir sus gastos operacionales y obtener un margen mínimo de utilidad.</p>
    <br>
    <h2>¿Cual es nuestra mision?</h2>
    <p>La misión de Importadora Larraín es proporcionar a sus clientes una amplia gama de accesorios electrónicos de alta calidad, importados de China, a 
        precios competitivos. La empresa se compromete a mantener un servicio excepcional tanto en ventas al detalle como por mayor, adaptándose a las 
        necesidades del mercado y buscando siempre la satisfacción del cliente.</p>
    <br>
    <h2>Redes Sociales:</h2>
    <br>
    <div style="text-align: left;">
        <img src="{% static 'imagenes/Ig_icon.png' %}" 
        alt="">
    </div>        
</body>
</html>