
.navbar-custom {
    background-color: #004080; 
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon {
    color: white;
}
.navbar-custom .dropdown-menu {
    background-color: #004080;
}
.navbar-custom .dropdown-item {
    color: white;
}
.navbar-custom .dropdown-item:hover {
    background-color: #003060; 
}

.carousel-inner {
    height: 400px; 
}
.carousel-inner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}